<div class="conteudoCad">
    <div id="textoCad">
        <h1>Cadastro</h1>
    </div>
    <div id="barraEsquerdaCad"></div>
    <div id="sectionCad">
        <form action="/cadastrar" method="POST">
            <p>Nome: </p>
            <center><input type="text" name="nome"></center>
            <p>CPF: </p>
            <center><input type="text" name="cpf"></center>
            <p>E-mail: </p>
            <center><input type="text" name="email"></center>
            <p>Senha: </p>
            <center><input type="password" name="senha1"></center>
            <p>Digite a senha novamente: </p>
            <center><input type="password" name="senha2"></center>
            <p>Rua e numero da casa: </p>
            <center><input type="text" name="rua"></center>
            <p>Cidade: </p>
            <center><input type="text" name="cidade"></center>
            <p>Estado: </p>
            <center><input type="text" name="estado"></center>
            <p>CEP: </p>
            <center><input type="text" name="cep"></center>
            <center><button type="submit"><p>Cadastrar</p></button></center>
        </form>
    </div>
    <div id="barraDireitaCad"></div>
</div>